body {
    background-image: url("./assets/back_image.png");
    background-size: cover;
    user-select: none;
    overflow: hidden;
}
#head {
    display: flex;
    justify-content: center;
    margin-top: 30vh;
    font-size: 50px;
    font-family: 'Alfa Slab One', cursive;
}
#mid {
    display: flex;
    justify-content: center;
}
#mid button {
    width: 155px;
    height: 50px;
    font-family: Arial black;
    background-color: black;
    color: rgb(235, 222, 222);
    font-size: 28px;
}
#mid button:active {
    color: goldenrod
}
#no {
    position: absolute;
    transition: all 0.04s;
}
#reload {
    display: none;
}
#code {
    user-select: text;
    cursor: default;
}
#last {
    position: absolute;
    display: block;
    font-weight: bold;
    bottom: 2%;
}
